/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.container {
   overflow: hidden;
   background: grey;
}

.left {
   float: left;
   width: 400;
   background: red;
}

.body {
   margin-left: 400px;
   background: green;
}
