/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.col60
{
	width: 60px;
}
.col120
{
	width: 100px;
}
.progress-bar
{
	width: 70%;
	height: 70%;
}

.userImage
{
	height:170px;
	width:170px
}

.level
{
	height:55px;
	width:55px;
	padding-left: 5px;
	padding-top: 12px;
}

.level-number
{
	padding-right: 22px;
	padding-bottom: 15px;
	font-size: 14px;
	color: #ddd;
	font-weight: bold;
}

.level-detail
{
	padding-left: 175px;
	font-size: 14px;
	color: #800080;
	font-weight: bold;
}

.description
{
	padding-right: 10px;
	font-size: 10px;
	color:#A9A9A9;
}

.header-table
{
	padding-left: 27px;
	font-size: 14px;
	color: #800080;
	font-weight: bold;
}
.settings {
  padding-left: 150px;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #00FFFF;
  text-align: center;
  line-height: 30px;
  color: #404040;
}

